/* * {
    box-sizing: border-box;
} */

body {
    font-family: Helvetica, Arial;
    background-color: #f4f5f7;
}

.parent {
    /* width: 800px; */
    /* height: 500px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    /* gap: 20px; */
    border-radius: 5px;
    background-color: white;

    /* margin: 15vh; */
    /* margin: 20vw; */
}


.image {
    background-image: url(images.jpeg);
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 1;
    /* width: 50%; */
    /* flex: left; */
}

.register {
    /* width: 50%;    */
    /* margin-top: 20px; */
    /* margin-right: 20px; */
    grid-column: 2/3;
    grid-auto-columns: 1;
    padding: 30px;
}

.login {
    background-color: #7e3af2;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

.github {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.twitter {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
}

.forgot {
    color: #7e3af2;
    margin-bottom: 15px;
}

.account {
    color: #7e3af2;
    /* margin-bottom: 40px;     */
}

a {
    text-decoration: none;
}

hr {
    color: #f4f5f7;
}

/* .email {
    width: 100%;
} */

@media only screen and (max-width: 920px) {
    .parent {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .parent {
        grid-template-columns: 1fr;
    }
}