* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial;
}

img {
    border-radius: 50%;
}

.thetop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    background-color: white;
    padding: 15px;
    padding-left: 10%;
    padding-right: 10%;
}

.search {
    background-color: #d9dde4;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.search > input {
    border: 0;
    background-color: #d9dde4;  
}

.fa-search {
    color: #7e3af2;
}

.bell-face {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

.fa-bell {
    color: #7e3af2;
}

.left {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 12px;
    gap: 15px;
    padding: 10px;
}

.rocket {
    font-size: 16px;
    color: black;
    font-weight: 900;
}

.fa-home {
    color: black;
}

.add {
    background-color: #7e3af2;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.allpage {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-row: 1fr;
}

.view {
    background-color: #7e3af2;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.center {  
    background-color: white;
}

.dashboard {
    background-color: #f4f5f7;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
}

.clients {
    background-color: white;
    width: 100%;
    display: flex;   
    gap: 5px; 
    padding: 10px;
    border-radius: 5px;
}

.orange {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #feecdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-users {
    color: #ff5a1f;
}

.write1 {
    flex: right;
}

.six {
    font-weight: 900;
}

.balance {
    background-color: white;
    width: 100%;
    display: flex;   
    gap: 5px; 
    padding: 10px;
    border-radius: 5px;
}

.green {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #def7ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-money-bill-wave-alt {
    color: #0e9f6e;
}

.write2 {
    flex:right;
}

.dollar {
    font-weight: 900;
}

.sales {
    background-color: white;
    width: 100%;
    display: flex;   
    gap: 5px;
    padding: 10px; 
    border-radius: 5px;
}

.blue {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #e1effe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-shopping-cart {
    color: #3f83f8;
}

.write3 {
    flex:right;
}

.three {
    font-weight: 900;
}

.contacts {
    background-color: white;
    width: 100%;
    display: flex;   
    gap: 5px; 
    padding: 10px;
    border-radius: 5px;
}

.teal {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #d5f5f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-comment-dots {
    color: #0694a2;
}

.write4 {
    flex:right;
}

.five {
    font-weight: 900;
}

.boxs4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.aproved {
    background-color: #def7ec;
    color: #0e9f6e;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.client1 {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.data1 {
    flex: right;
}

.denied {
    background-color: #fde8e8;
    color: #e02424;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.client2 {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.data2 {
    flex: right;
}

.client3 {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.data3 {
    flex: right;
}

.expired {
    background-color: #dee1e6d2;
    color: #24262d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.client4 {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.data4 {
    flex: right;
}

.client5 {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.data5 {
    flex: right;
}

.client6 {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.data6 {
    flex: right;
}

.client7 {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.data7 {
    flex: right;
}

.client8 {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.data8 {
    flex: right;
}

table {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgb(181, 183, 185);
    border-collapse: collapse;
}

tr {
    border: 1px solid rgb(181, 183, 185);
}

th {
    background-color: #f4f5f7;
    color: gray;
    padding: 10px;
}

tr > th {
    text-align: left;
}

.cli {
    display: flex;
    justify-content: start;
}

.amo {
    margin-left: 2px;    
}

.final {
    display: flex;
    justify-content: space-between;
    background-color: #f4f5f7;
    border: 1px solid rgb(181, 183, 185);
    border-top: 0;
}

.show {
    color: gray;
    padding: 20px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a {
    color: gray; 
    padding: 8px;  
    text-decoration: none;
}

.pagination > li > .active {
    background-color: #7e3af2;
    color: white;
    border-radius: 5px;
}

.pagination > li > a:hover:not(.active) {
    background-color: #7e3af2;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 920px) {
    .boxs4 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr
    }

@media only screen and (max-width: 768px) {
    .boxs4 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 100%;
    }
    .left {
        display: none;
    }

    .dashboard {
    background-color: #f4f5f7;
    background-color: ;
        width: 100%;
    }

    .center {
        width: 100%;
    }

    .allpage {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr;
    }

    .final {
        flex-direction: column;
        
    }

    }



