* {
    box-sizing: border-box;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
}

img {
    border-radius: 50%;
}

.thetop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr;
}

.codespace {
    grid: left;
}

.bell-face {
    grid: right;
}

.search {
    grid: center;
}

