* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial;
}

img {
    border-radius: 50%;
}

.thetop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    padding: 10px;
}


.bell-face {
    display: flex;
    justify-content: end;
    align-items: center;
}

tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    margin-left: 10px;
}

.add {
    background-color: #7e3af2;
    border-radius: 5px;
}

.allpage {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-row: 1fr;
}
